
/*pagina de estilos*/
@font-face {
    font-family: Lastica;
    src: url("/fuentes/FontsFree-Net-Lastica.ttf");
}
@font-face {
    font-family: TT Interphases;
    src: url("/fuentes/FontsFree-Net-TTInterfaces-Medium.ttf");
}
@font-face {
    font-family: Anonymous Pro;
    src: url("/fuentes/AnonymousPro-Regular.ttf");
}
@font-face {
    font-family: Inter;
    src: url("/fuentes/Inter-VariableFont_slnt,wght.ttf");
}

/*-- Estilos base y rest para toda la pagina --*/

html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial;
    scroll-behavior: smooth;
}

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    background-color: #f5f5f5;
}

/*-- Estilos para el div header / seccion 0 --*/

section.Header{
    height: 100vh;
    background-image:  url("/images/sflip.jpg");
    background-size: cover;
}

/*-- Estilos para seccion 1 --*/

section.seccion1{
    height: 100vh;
    background-image:url("/images/s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-areas: 
        ". aside main .";
    justify-content: flex-end;
}
section.seccion1>aside{
    grid-area: aside;
}
section.seccion1>main{
    grid-area: main;
    color: #f5f5f5;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
}
section.seccion1>main>h2{
    font-family: Lastica;
    font-size: 4em;
}
section.seccion1>main>p{
    font-family: Anonymous Pro;
    font-size: 165%;

}
/*-- Estilos para seccion 2 --*/
/*-- Lugo --*/

section.seccion2{
    height: 100vh;
    background-color: #2C1E4A;
    background-image:  url("/images/sflip.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
section.seccion2 > h2{
    display: flex;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    justify-content: center;
    /*border: dotted black;*/
}

section.contenido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*border: dotted red;*/
}
section.contenido > article{
    height: 60vh;
    width: 50vh;
    flex-wrap: wrap;
    flex-direction: column;
    /*border: dotted black;*/
    display: flex;
    align-self: center;
}
section.contenido > article > section{
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    /*border: dotted green;*/
}
section.contenido > article > section.pregunta{
    height: 40%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    background-color: #D73CBE;
    /*border: dotted rgb(43, 104, 128);*/
}

/*-- Estilos para seccion 3 --*/
/*-- Lugo --*/

section.seccion3{
    height: 100vh;
    background-image:  url("/images/s.jpg");
    background-size: cover;
}

/*-- Estilos para seccion 4 --*/

section.seccion4{
    height: 100vh;
    background-image:  url("/images/sflip.jpg");
    background-size: cover;
}

/*-- Estilos para seccion 5 --*/
/*-- Lugo --*/

section.seccion5{
    height: 100vh;
    background-image:  url("/images/s.jpg");
    background-size: cover;
}

/*-- Estilos para el Footer --*/

footer{
    height: 100vh;
    background-image:  url("/images/sflip.jpg");
    background-size: cover;
}


@media (max-width: 920px){
/* Estilos responsive Movile */

/*-- Estilos responsive para el div header --*/

    div.Header{
        height: 100vh;
        background-image:  url("/images/s.jpg");
        background-size: cover;
    }

/*-- Estilos responsive para la seccion 1 --*/

    section.seccion1{
        height: 200vh;
        background-image:  url("/images/sflip.jpg");
        background-size: cover;
    }


/*-- Estilos responsive para la seccion 2 --*/
/*-- Lugo--*/

    section.seccion2{
        height: 200vh;
        background-color: #2C1E4A;
        background-image:  url("/images/s.jpg");
        background-size: cover;
        display: flex;
        flex-direction: row;
    }

    section.seccion2 > h2{
        display: flex;
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
        justify-content: center;
        border: dotted black;
    }
    
    section.contenido{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: dotted red;
    }
    section.contenido > article{
        height: 50vh;
        width: 40vh;
        flex-shrink: 3;
        flex-wrap: wrap;
        flex-direction: column;
        border: dotted black;
        display: flex;
        align-self: center;
    }
    section.contenido > article > section{
        height: 60%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border: dotted green;
    }
    section.contenido > article > section.pregunta{
        height: 40%;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        background-color: #D73CBE;
        border: dotted rgb(43, 104, 128);
    }

/*-- Estilos responsive para la seccion 3 --*/
/*-- Lugo--*/

    section.seccion3{
        height: 200vh;
        background-image:  url("/images/sflip.jpg");
        background-size: cover;
    }

/*-- Estilos responsive para la seccion 4 --*/

    section.seccion4{
        height: 200vh;
        background-image:  url("/images/s.jpg");
        background-size: cover;
    }

/*-- Estilos responsive para la seccion 5 --*/
/*-- Lugo--*/

    section.seccion5{
        height: 200vh;
        background-image:  url("/images/sflip.jpg");
        background-size: cover;
    }

/*-- Estilos responsive para Footer --*/

    footer{
        height: 100vh;
        background-image:  url("/images/s.jpg");
        background-size: cover;
    }

}
