
/*pagina de estilos*/

html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial;
    scroll-behavior: smooth;
}

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    background-color: #f5f5f5;
}

/*-- Estilos para el div header ESTEBAN--*/

div.Header-Esteban{
    height: 100vh;
    background-color: lightblue;
}

/*-- Estilos para seccion 2 ESTEBAN--*/

section.seccion2-Esteban{
    height: 100vh;
    background-color: rgb(194, 234, 50);
}

/*-- Estilos para seccion 3 ESTEBAN--*/

section.seccion3-Esteban{
    height: 100vh;
    background-color: lightgreen;
}

/*-- Estilos para seccion 4 SOFIA--*/

section.seccion4-Sofia{
    height: 100vh;
    background-color: lightslategray;
}

/*-- Estilos para seccion 5 SOFIA--*/

section.seccion5-Sofia{
    height: 100vh;
    background-color: rgb(135, 30, 30);
}

/*-- Estilos para seccion 6 JUAN DANIEL--*/

section.seccion6-JuanDaniel{
    height: 100vh;
    background-color: rgb(69, 200, 102);
}

/*-- Estilos para seccion 7 JUAN DANIEL--*/

section.seccion7-JuanDaniel{
    height: 100vh;
    background-color: rgb(228, 69, 188);
}

/*-- Estilos para seccion 8 DANIEL PAREJA--*/

section.seccion8-DanielPareja{
    height: 100vh;
    background-color: rgb(228, 225, 69);
}

/*-- Estilos para seccion 9 DANIEL PAREJA--*/

section.seccion9-DanielPareja{
    height: 100vh;
    background-color: rgb(35, 188, 254);
}
/*-- Estilos para el Footer --*/

footer{
    height: 30vh;
    background-color: lime;
}

