
/*pagina de estilos*/

/*-- Estilos base y rest para toda la pagina --*/

html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial;
    scroll-behavior: smooth;
}

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    background-color: #f5f5f5;
}

/*-- Estilos para el div header / seccion 0 --*/

section.Header {
    height: 100vh;
}
section.Header nav{
    font-family: "Lastica", sans-serif;
}

/*-- Estilos para seccion 1 --*/

section.seccion1{
    height: 100vh;
    background-color: lightcoral;
}

/*-- Estilos para seccion 2 --*/

section.seccion2{
    height: 100vh;
    background-color: lightcyan;
}

/*-- Estilos para seccion 3 --*/

section.seccion3{
    height: 100vh;
    background-color: lightgreen;
}

/*-- Estilos para seccion 4 --*/

section.seccion4{
    height: 100vh;
    background-color: lightslategray;
}
/*-- Estilos para seccion 5 --*/

section.seccion5{
    height: 100vh;
    background-color: lightseagreen;
}

/*-- Estilos para el Footer --*/

footer{
    height: 100vh;
    background-color: lime;
}


@media (max-width: 920px){
/* Estilos responsive Movile */

/*-- Estilos responsive para el div header --*/

    div.Header{
        height: 100vh;
        background-color: lightblue;
    }

/*-- Estilos responsive para la seccion 1 --*/

    section.seccion1{
        height: 200vh;
        background-color: lightcoral;
    }


/*-- Estilos responsive para la seccion 2 --*/

    section.seccion2{
        height: 200vh;
        background-color: lightcyan;
    }

/*-- Estilos responsive para la seccion 3 --*/

    section.seccion3{
        height: 200vh;
        background-color: lightgreen;
    }

/*-- Estilos responsive para la seccion 4 --*/

    section.seccion4{
        height: 200vh;
        background-color: lightslategray;
    }

/*-- Estilos responsive para la seccion 5 --*/

    section.seccion5{
        height: 200vh;
        background-color: lightseagreen;
    }

/*-- Estilos responsive para Footer --*/

    footer{
        height: 100vh;
        background-color: lime;
    }

}
