
/*pagina de estilos*/

/*-- Estilos base y rest para toda la pagina --*

html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial;
    scroll-behavior: smooth;
}--*/

*{
    /*--text-decoration: none;
    list-style: none;--*/
    color: #ffffff;
    /*--margin: 0;
    padding: 0;--*/
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    background-color: #000000;
}

section{
    height: 100vh;
}

/*-- Estilos para el div header --*/

header{
    height: 100vh;
}

/*-- Estilos para seccion 1 --*/

section.seccion1{
}

/*-- Estilos para seccion 2 --*/

section.seccion2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 98vh;
}

section.seccion2 > article {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.seccion2 > article > p:nth-child(1), p:nth-child(3) {
    max-width: 25vh;
    padding-left: 10vh;
    padding-right: 10vh;
    font-size: 120%;
}

section.seccion2 > article > p:nth-child(2) {
    max-width: 25vh;
    font-size: 120%;
}

section.seccion2 > h2:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 350%;
    width: 174vh;
    text-align: start;
}

section.seccion2 > h2:nth-child(3), h2:nth-child(5) {
    padding-left: 10vh;
    padding-right: 10vh;
    width: 50vh;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-evenly;
    font-size: 390%;
    text-align: center;
}

section.seccion2 > h2:nth-child(4) {
    width: 50vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 390%;
    text-align: center;
}

section.seccion2 > figure > img {
    padding-top: 3vh;
    padding-left: 5vh;
    height: 8vh;
    width: 10vh;
}

section.seccion2 > a {
    margin-right: 70%;
    font-family: 'Montserrar', sans-serif;
    background-color: #CB6CE6;
    padding-top: 2vh;
    color: #000000;
    height: 4vh;
    width: 20vh;
    border-radius: 40%;
    text-align: center;
    align-self: center;
    flex-wrap: wrap;
}

/*-- Estilos para seccion 3 --*/

section.seccion3{
}

/*-- Estilos para seccion 4 --*/

section.seccion4{
}

/*-- Estilos para seccion 5 --*/

section.seccion5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.seccion5 p{
    max-width: 70vh;
}

section.seccion5 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.seccion5 div p{
    color: #A6A6A6;
}

/*-- Estilos para seccion 6 --*/

section.seccion6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.seccion6 div{
    display: flex;
    justify-content: center;
}

section.seccion6 div p{
    max-width: 25vh;
}

section.seccion6 div article{
    margin: 0vh 5vh;
}

section.seccion6 p:nth-child(2){
    max-width: 65vh;
    text-align: center;
    color: #A6A6A6;
}

/*-- Estilos para seccion 7 --*/

section.seccion7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.seccion7 div{
    display: flex;
    justify-content: space-evenly;
}

section.seccion7 div article{
    margin: 0vh 15vh;
}

section.seccion7 p:nth-child(2){
    max-width: 65vh;
    text-align: center;
    color: #A6A6A6;
}

section.seccion7 div h3{
    max-width: 40vh;
}

/*-- Estilos para el Footer --*/

footer{
    height: 100vh;
}


@media (max-width: 920px){
/* Estilos responsive Movile */
    section{
        height: 200vh;
    }
/*-- Estilos responsive para el div header --*/

    header{
        height: 100vh;
    }

/*-- Estilos responsive para la seccion 1 --*/

    section.seccion1{
    }

/*-- Estilos responsive para la seccion 2 --*/

    section.seccion2{
    }

/*-- Estilos responsive para la seccion 3 --*/

    section.seccion3{
    }

/*-- Estilos responsive para la seccion 4 --*/

    section.seccion4{
    }

/*-- Estilos responsive para la seccion 5 --*/

    section.seccion5{
    }

/*-- Estilos responsive para la seccion 6 --*/

    section.seccion6{
    }

/*-- Estilos responsive para la seccion 7 --*/

    section.seccion7{
    }

/*-- Estilos responsive para Footer --*/

    footer{
        height: 100vh;
    }
}